#class-repo
jupyterlab
ipywidgets
nltk
pandas==2.2.3
numpy==1.26.4
scipy<=1.13.9
transformers==4.45.1
#word2vec<=0.11.0
gensim==4.3.3
matplotlib==3.9.2
unidecode
google-generativeai
wheel
scikit-learn==1.5.2

#class-ai-thesimpsons
torch==2.5.1 --index-url https://download.pytorch.org/whl/cu118
torchvision
torchaudio
nvidia-cuda-runtime-cu12
langchain==0.3.4
langchain_community==0.3.3
openai==1.52.2
bertopic
python-dotenv
rouge
sacrebleu
tiktoken
fastparquet
langchain_experimental
pandarallel
streamlit